 /* legend{
    font-size:20px;
}

#lista_elevi_wrappertable td, th{
    border: 1px dotted;
}

#eleviForm{
    width: 47%;
    padding: 10px;
    border: 1px dotted;
    margin: 10px 10px;
    background-color:#ACFE2F;
    float:left;
}

#noteForm{
    opacity: 1;
    width: 46%;
    padding: 10px;
    border: 1px dotted;
    margin: 10px 10px;
    background-color:#ADD8E5;
    position: absolute;
    left: 50%;
}  */

#elevi_wrapper{
    background-color: #ACFE2F;
    width:100%;
    height:100%;
}

#note_wrapper{
    background-color: #ADD8E5;
    display:none;
    width:50%;
    float:right;
}

#ascundeNote{
    float: left;
}

td{
    border: 1px solid;
}