#main{
    background-color: lightblue;
    padding:50px;
}

#input_wrapper{
    display: block;
    padding: 10px;
    float:left;
    margin-right: 10px;
    width:30%;
}

body{
    margin: 40px 100px;
}

#main button{
    padding: 10px;
    height: 37px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color:purple;

}

#contact{
    float:right;
    background-color:grey !important;
    text-decoration:none;
    text-decoration: none;
}

#contact a{
    text-decoration: none;
}

#listImg>img{
    height: 200px;
    width: 200px;
}

#listImg{
    width: 20%;
}
#preparatImg{
    width:100%;
}
#preparatImg > img{
    float: right;
}
#preparatInfo{
    width: 50%;
}
#listButtons{
    width: 10%;
}
#listInfo{
    width: 80%;
    padding-right:30px;
    
}
#listButtons >a > button{
    float:right;    
    background-color:red !important;
    text-decoration:none;
    text-decoration: none;
}

#listInfo div{
    font-size: 18px;
}

table{
    width:100%;
    padding: 30px 0px;
}

#menu{
    float:right;    
    background-color:red !important;
    text-decoration:none;
    text-decoration: none;
}

#map{
    width:100%;
    height:500px;
}

#h1Contact{
    font-size: 2em;
    font-weight: bold;
}

#title{
    font-size: 2em;
    font-weight: bold;
}