#main{
    background-color: lightblue;
    padding:20px;
}

#input_wrapper{
    display: block;
    padding: 10px;
    float:left;
    margin-right: 10px;
    width:30%;
}

body{
    margin: 40px 100px;
}

#main button{
    padding: 10px;
    height: 37px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color:purple;

}

#contact{
    float:right;
    background-color:grey !important;
    text-decoration:none;
    text-decoration: none;
}

#contact a{
    text-decoration: none;
}