.border1 {
    border: 1px solid;
}

.content20{
    width: 20%;
}

.content80{
    width: 80%;
}

.title{
    font-size:80px;
    padding: 50px;
    font-style: italic;
    color: white;
}

.padleft10{
    padding-left: 10px;
}
a:visited{
    color:black;
  }
.width100{
    width: 100%;
    background-color: blueviolet;
    border-radius: 50px 50px 0px 0px!important;
}
#globe{
    height: 135px;
    
}
#menu{
    vertical-align: top;
}

#footerp{
    text-align:center;
    padding: 15px;
}
.width100f{
    width: 100%;
    background-color: blueviolet;
    border-radius: 0px 0px 50px 50px!important;
}
.margin0{
    margin: 0;
}
.paddingt30{
    padding-top: 50px;
}

.aligncenter{
    text-align: center;
}